.page {
  width: 100%;
}

.start {
  min-height: calc(
    100svh - var(--header-height)
  );

  display: flex;
  flex-direction: column;
}

.projects {
  min-height: calc(
    100svh - var(--header-height)
  );

  max-width: var(--content);

  margin: 0 auto;

  padding:
    clamp(80px, 10vw, 140px)
    var(--page)
    120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index {
  width: 100%;

  display: grid;

  grid-template-columns:
    repeat(2, minmax(0, 1fr));

  column-gap: var(--gap);

  row-gap:
    clamp(55px, 7vw, 100px);
}

@media (max-width: 800px) {
  .projects {
    padding:
      70px
      var(--page)
      80px;
  }

  .index {
    grid-template-columns: 1fr;

    row-gap: 55px;
  }
}